<head>
    <link rel="stylesheet" type="text/css" href="projects.component.css" media=”screen” />
</head>

<div class="toolbar" role="banner">
    <a style="padding:20px" routerLink="/home">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 12H6M12 5l-7 7 7 7"/></svg>
    </a>
    <div class="spacer"></div>
    <a aria-label="Liv's Github" target="_blank" rel="noopener" href="https://github.com/livcraft" title="github">
      <svg id="linkedin-logo" height="30" width="30" data-name="Logo"
      xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
    </a>
    <a aria-label="Liv's Linked" target="_blank" rel="noopener" href="https://www.linkedin.com/in/olivia-schirm/" title="linkedin">
      <img id="linkedin-logo" height="24" width="40" data-name="Logo" src="https://img.icons8.com/ios-glyphs/50/000000/linkedin.png" viewBox="0 0 24 24" fill="#fff">
    </a>
</div> 

<div class="content" role="main">

  <h2>Tilty Dude</h2>

  <p style="padding-top: 2%;">
    Tilt to win a new high score! Tilty Dude is a video game with a side-to-side tilting controller and dangerous falling objects; tilt the dude left or right to avoid these objects and win. This system is made to operate using a PSoC 5LP stick, a TFT screen to display the game, and an MPU6050 accelerometer as the main controller.
  </p>

  <p style="padding-bottom: 2%;"> Tilty Dude was an individual final project for 6.115, Microcomputer Project Lab during Spring 2022.
  </p>

  <div class="card-container">
    <div class="card" style="margin-top: -5%;">
      <img src="../../assets/schem.png" width="50%" style="padding: 2%;">
  
      <img src="../../assets/cre.png" width="50%" style="padding: 2%;">
    </div>
    <div class="card">
      <img src="../../assets/f.png" width="50%" style="padding: 2%;">
    </div>
  </div>

  <a href="https://livcraft.itch.io/mr-cat" target="_blank">
    <h2>Mr. Cat</h2>
  </a>

  <div class="card-container">
    <div class="card" style="margin-top: -5%;">
      <img src="../../assets/home.png" width="50%" style="padding: 2%;">
  
      <img src="../../assets/play.png" width="50%" style="padding: 2%;">
    </div>
  
  </div>

  <p style="padding-block: 2%;">
    Mr. Cat is a quick game I made during Spring Break 2022 out of boredom. I was staying in Boston and needed something to do.
    While the game itself is pretty simple, it's somehow enticing. Mr. Cat was made with Unity Engines, written mostly in C#. 
    Play full screen to see the score.
  </p>

  <a href="http://first-light.herokuapp.com/" target="_blank">
  <h2>First Light</h2>
</a>
<div class="card-container">
  <div class="card" style="margin-top: -5%;">
    <img src="../../assets/genpic.png" width="50%" style="padding: 2%;">

    <img src="../../assets/closepic.png" width="50%" style="padding: 2%;">
  </div>

</div>

<p style="padding-block: 2%;">
  First Light is a game made during a one-month website creation competition hosted by MIT. It is a 2D pixelated 
  personality-based website game encouraging players to learn more about themselves. We added character personalization functionalities with a secure login 
  system (Google) and data storage capabilities. Players can re-log in, save nicknames, and view their progress throughout the game. This website is built
  with React and MongoDB.
</p>

<div class="row" style="padding-block: 2%;">
  <div class="column">
<a href="http://lsc.mit.edu/" target="_blank">
<h2 style="width:120%">MIT Lecture Series Committee Website</h2>
</a>
</div>

<div class="column">
  <img src="../../assets/lsc.png" width="45%" style="float: right;">
</div>
</div>
<p style="padding-block: 2%;">
  I kept the LSC website updated and refreshed from 2019 to the end of 2021. This included updating titles, changing schedules, and making
  any improvements to pages. Check out the site and some of the movies shown throughout a semester!
</p>

<h2 style="padding-block: 2%;">Finger Dance Dance Revolution</h2>
<div class="card" style="padding:3%">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/GzfTKdNzgag" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<p style="padding-block: 2%;">
  Finger Dance Dance Revolution is a final project made by my small group in an Interconnected Embedded Systems class. It was made using 
  an ESP32 microcontroller, joystick shield, speaker, and LCD screen, with minimal HTML and CSS site coding, and loads of C++. 
</p>
</div>