<head>
    <link rel="stylesheet" type="text/css" href="home.component.css" media=”screen” />
  </head>
  
  <!-- Toolbar -->
  <section class="gg">
  <h1> Olivia Schirm </h1>
  
  <div>
    <a aria-label="Liv's Github" target="_blank" rel="noopener" href="https://github.com/livcraft" title="github">
      <svg id="linkedin-logo" data-name="Logo"
      xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
    </a>
    <a aria-label="Liv's Linked" target="_blank" rel="noopener" href="https://www.linkedin.com/in/olivia-schirm/" title="linkedin">
      <img id="linkedin-logo" data-name="Logo" src="https://img.icons8.com/ios-glyphs/50/000000/linkedin.png" viewBox="0 0 24 24" fill="#fff">
    </a>
    <div class="curve"></div>
</div>
<div class="ggwave" style="margin-bottom: 2%;">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
  </svg>
</div>

</section>
  <div class="content" role="main">
    <section class="lg">
    
    <!-- Links -->
    <div class="card-container">
  
      <a class="card" routerLink="/resume">
        <svg xmlns="http://www.w3.org/2000/svg" style="padding:10px" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 2H6a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h12a2 2 0 0 0 2-2V8l-6-6z"/><path d="M14 3v5h5M16 13H8M16 17H8M10 9H8"/></svg>
        <span style="font-size: 36pt;"> Work </span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" style="padding:10px" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
  
      <a class="card" routerLink="/projects">
        <svg xmlns="http://www.w3.org/2000/svg" style="padding:10px" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
        <span style="font-size: 36pt;"> Projects </span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" style="padding:10px" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>

      <a class="card" routerLink="/fun">
        <svg xmlns="http://www.w3.org/2000/svg" style="padding:10px" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
        <span style="font-size: 36pt;"> Fun </span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" style="padding:10px" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
      <img src="../../assets/liv1.jpeg" width=20% height="20%" style="padding-top: 10px;">
    </div>
    <div class="custom-shape-divider-bottom-1643244701" style="margin-bottom: 1%;">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
      </svg>
  </div>
  </section>
    <!-- Next Steps -->
    <section class="mg">
    <h2 style="padding-top:30px;padding-bottom: 10%;">About Me</h2>
    <p style="padding-bottom: 3%;">Hi there! Academically defining myself, I'm a 20-year-old studying EECS
      with a history concentration at MIT. I enjoy mixing together both software and electronic components
      to create fun and innovative projects and games. Outside of the classroom, I enjoy hiking, biking,
      baking, watching thrillers, traveling, minecraft, and reading books of all genres. 
    </p>
    <div class="custom-shape-divider-bottom-1643244924">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
          <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
          <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
      </svg>
  </div>
  </section>
    <!-- <h2>Currently...</h2>
    <p style="padding-bottom: 3%;">
      Project: making a small 2D platform game in Unity<br> 
      Book: reading The Institute by Stephen King <br>
      Located: back in Cambridge for spring semester
    </p> -->
  
    <!-- Terminal -->
    <section class="dg">
    <div class="terminal" style="padding:5%;margin-left:15%;">
      <h3 style="color: white;font-size: 16pt;">schirm:~ oliviaschirm$ cd facts</h3>
      <h3 style="color: white;padding-bottom: 5%;font-size: 16pt;">schirm:~ oliviaschirm$ ls</h3>
        <img src="../../assets/corn.png" style="float: right;" width=15%>
        <h5>I'm originally from Iowa</h5>
        <h5>I make a mean banana bread</h5>
        <h5>Subway order: chicken bacon ranch on italian herb & cheese</h5>
        <h5>Most listened to artist of 2021: Kanye West</h5>
    </div>
  </section>

    <!-- Footer -->
    <footer>
        
    </footer>
  
  </div>
