canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  margin: 0px auto;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

section {
  position: absolute;
  grid-column: 4 / 8;
}